* {
    border:        none;
    border-radius: 0;
    font-family:   SF Pro Display, Hasklug Nerd Font;
    font-size:     14px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    color:      #eceff4;
    min-height: 0;
    padding: 0;
    margin: 1px;
}

window {
    font-weight:    bold;
    color:          #eceff4;
    background:     #1e222a;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding: 0.5rem 0.5rem;
    margin: 0px 5px;
}

#workspaces {
    margin: 0 5px;
    font-size: 15px;
}

#workspaces button {
    padding:    0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
    background-color:       #5e81ac;
    border-radius: 5px;
}

/* #battery, #network, #pulseaudio, #clock, #custom-power, #custom-qbitstats { */
/*     margin:     0px 3px 0px 1px; */
/*     min-width:  10px; */
/**/
/* } */

/* #clock { */
/*     margin:     0px 16px 0px 10px; */
/*     min-width:  10px; */
/* } */

#custom-power {
    color:         #bf616a;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

/* #battery { */
/*     color:       #689d6a; */
/* } */
/**/
/* #battery.critical { */
/*     color:          #E06C75; */
/* } */
/**/
/* #battery.good { */
/*     color:          #9EC183; */
/**/
/* } */
/**/
/* #battery.charging { */
/*     color:      #b8bb26; */
/* } */
/**/
/* #network.wifi { */
/*     color:          #81A1C1 ; */
/* } */

#network.disconnected {
    color:          #EBCB8B;
}

#backlight.icon {
    padding-right: 5px;
    margin-right: 0px;
}


/* #idle_inhibitor { */
/*   color: #ebcb8b; */
/* } */
/* #waybar > box:nth-child(2) > box:nth-child(3) > * > label { */
/*     padding: 0 3px; */
/* } */
